html {
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #3266ba;
    z-index: 1;
}

nav a {
    color: white;
    font-size: large;
    text-decoration: none;
}

.homepage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage h1 {
    margin: 0;
    color: #3266ba;
}

.homepage button {
    background-color: #3266ba;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    transition-duration: 0.5s;
}

.homepage button:hover {
    transform: scale(1.1);
}

.faceimg {
    border-radius: 150px;
    width: 200px;
}

.godown {
    width: 100px;
    position: absolute;
    bottom: 0;
}

.about {
    width: 100vw;
    height: 100vh;
}

.about .left {
    width: 100vw;
    height: auto;
}

.about .right {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 60%;
    max-width: 700px;
}

.projects-title {
    margin-top: 20px;
}

.upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.info {
    padding: 0 20px;
}

.contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.contact .left {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone,
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.contact .right {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeup {
    width: 300px;
    border-radius: 10px;
}

.contact-icon {
    width: 35px;
    margin-right: 10px;
}

@media (max-width: 500px) {
    .project-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}

@media (max-width: 800px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
    }

    .about .left {
        width: 100vw;
        height: auto;
    }

    .about .right {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        width: 60%;
    }

    .contact .left {
        width: 100vw;
    }
    .contact .right {
        display: none;
    }

    .card {
        width: 80vw;
    }
}

@media (min-width: 801px) {
    .about-text {
        width: 60%;
    }
}