body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #3266ba;
    z-index: 1;
}

nav a {
    color: white;
    font-size: large;
    text-decoration: none;
}

.homepage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage h1 {
    margin: 0;
    color: #3266ba;
}

.homepage button {
    background-color: #3266ba;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
}

.godown {
    width: 100px;
    position: absolute;
    bottom: 0;
}

.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .left {
    width: 100vw;
    height: auto;
}

.about .right {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 50%;
}

.about h1 {
    color: #3266ba;
}

.projects {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    margin-top: 5% ;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 60%;
    height: 50%;
}

.card {
    border: 1px solid #3266ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.preview {
    max-width: 100%;
}

.upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.upper img {
    width: 25px;
}

.info {
    padding: 0 20px;
}

.contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.contact .left {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone,
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.contact .right {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .left {
        width: 100vw;
        height: auto;
    }

    .about .right {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        width: 60%;
    }

    .contact .left {
        width: 100vw;
    }
    .contact .right {
        display: none;
    }
}

@media (min-width: 801px) {
    .about-text {
        width: 60%;
    }
}